/*------------------for header----------------*/
.fontCustom {
    font-family: 'Press Start 2P', cursive !important;
}

.student {
    margin-top: -10px;
}


.label-black {
    color: black !important;
}

.in-center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.for-card {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 40% !important;
}

.black {
    color: black !important;
}

* {
    margin: 0;
    padding: 0;
}

.background-image {
    background: #F5F5F5;
    min-height: 100vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    flex-direction: column !important;
}

.links {
    padding: 2% !important;
}

.about-content {
    width: 55% !important;
    margin-right: 5% !important;
    height: 80% !important;
}

.skills {
    width: 40% !important;
    margin-top: 0 !important;
}

.work {
    width: 80% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    padding: 5% !important;
}

.padded-work {
    padding: 2% !important;
}

.home {
    flex: 1 !important;
    padding-top: 20% !important;
}

.contact {
    flex: 1 !important;
    background: url('./images/homePage.JPG');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 5% !important;
}

.contact-left {
    width: 95% !important;
}

.pad {
    padding: 3% !important;
}

.toggle-button {
    display: none;
    color: black;
    position: absolute;
    left: 87%;
}

.hidden {
    display: none !important;
}

.not-hidden {
    display: block !important;
}

.cross {
    display: none !important;
    position: absolute;
    z-index: 20;
    top: 90%;
    left: 50%
}

@media (max-width:450px) {
    .before-navbar {
        display: none !important;
    }

    .activeClass {
        position: absolute !important;
        height: 100% !important;
        width: 100% !important;
        display: block !important;
        padding: 31% !important;
        background: #F5F5F5 !important;
        z-index: 10 !important;
    }

    .toggle-button {
        display: flex;
    }

}