/*------------------for header----------------*/
.fontCustom {
    font-family: 'Press Start 2P', cursive !important;
}

.student {
    margin-top: -10px;
}


.label-black {
    color: black !important;
}

.in-center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.for-card {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 40% !important;
}

.black {
    color: black !important;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
}

#root {
    height: 100%;
}

.background-image {
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.custom-align {
    top: 40% !important;
}

.links {
    padding: 2% !important;
}

.about-content {
    width: 55% !important;
    margin-right: 5% !important;
    height: 80% !important;
}

.skills {
    width: 40% !important;
    margin-top: 0 !important;
}

.work {
    width: 80% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    padding: 5% !important;
}

.padded-work {
    padding: 2% !important;
}